:root {
  --vermelho: #e50914;
  --preto: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Elementos base */
body {
  background: var(--preto);
  font-family: "Arial", Times, serif;
  color: #fff;
}

.logo {
  margin-left: 5px;
  color: var(--vermelho);
  font-family: "Arial Black";
  font-size: 40px;
}

.nav a {
  color: #aaa;
  margin-right: 10px;
}

.nav a:hover {
  color: #fff;
}

/* Filme principal */
.filme-principal {
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url("/img/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 480px;
  /* height: 630px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
}

.filme-principal .descricao {
  margin-bottom: 30px;
  margin-top: 10px;
  line-height: 1.6;
}

.titulo {
  margin-top: 15%;
  font-size: 96px;
  font-family: "Trebuchet MS", Arial, sans-serif;
  text-transform: uppercase;
}

.botao {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: #fff;
  padding: 15px 30px;
  text-transform: uppercase;
  margin-right: 15px;
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s ease all;
  border-radius: 5px;
}

.botao:hover {
  background-color: #fff;
  color: #000;
}

.botao i {
  margin-right: 5px;
}

.botao a {
  padding: 15px;
}

.container {
  margin-left: 30px;
}

.filme-principal .container {
  width: 70%;
}

.box-filme {
  height: 100%;
  width: 100%;
  display: block;
}

.carrossel-filmes {
  margin-top: 5px;
}
